#game-title {
    font-family: 'Bungee Shade', cursive;
    font-size: 65px;
};
#game-intro {
    font-family: 'Black Ops One', cursive;
};   
body {
    background-color: #801211;
    background-size: cover;
}